<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
<head>
	<title>Forgot your password?</title>
</head>
<body>
	<th:block layout:fragment="header" th:include="layouts/header :: headerFragment">
	</th:block>
	<div layout:fragment="content" class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <!-- form card login -->
                            <div class="card rounded shadow shadow-sm">
                                <div class="card-header text-center">
                                    <h3 class="mb-0">Reset your password</h3>
                                </div>
                                <div class="card-body">

                                    <th:block layout:fragment="messages" th:include="layouts/message :: messageFragment">
                                    </th:block>
                                    
                                    <form th:action="@{/change_password?language=vi_VN}" th:object="${password}" class="form" role="form" autocomplete="off" id="formResetPassword" method="POST">
                                       <div class="form-group">
                                            <label for="password" class="control-label">Mật khẩu</label>
                                            <input th:field="*{password}" id="password" type="password" class="form-control" name="password" required>
                                                
                                            <span th:each="error : ${#fields.errors('password')}" class="help-block">
                                                <strong class="text-danger" th:text="#{${error}}"></strong>
                                            </span>
                  
                                        </div>

                                       <div class="form-group">
                                            <label for="password-confirm" class="control-label">Nhập lại mật khẩu</label>
                                            <input th:field="*{passwordConfirm}" id="password-confirm" type="password" class="form-control" name="password_confirmation" required>

                                            <span th:each="error : ${#fields.errors('passwordConfirm')}" class="help-block">
                                                <strong class="text-danger" th:text="#{${error}}"></strong>
                                            </span>

                                        </div>
                                        <input id="token" type="hidden" name="token" th:value=${passwordResetToken}>
                                        <button type="submit" class="btn btn-primary btn-lg" id="btnLogin">Đổi mật khẩu</button>
                                    </form>
                                </div>
                                <!--/card-block-->
                            </div>
                            <!-- /form card login -->
                        </div>
                    </div>
                    <!--/row-->
                </div>
            <!--/col-->
            </div>
        <!--/row-->
        </div>
	</div>
</body>
    <th:block layout:fragment="scripts">
    </th:block>
</html>