<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
<head>
	<title>Forgot your password?</title>
</head>
<body>
	<th:block layout:fragment="header" th:include="layouts/header :: headerFragment">
	</th:block>
	<div layout:fragment="content" class="container" style="margin-top: 100px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <!-- form card login -->
                            <div class="card rounded shadow shadow-sm">
                                <div class="card-header text-center">
                                    <h3 class="mb-0">Reset your password</h3>
                                </div>
                                <div class="card-body">
                                    <p th:text=${messages}></p>
                                </div>
                                <!--/card-block-->
                            </div>
                            <!-- /form card login -->
                        </div>
                    </div>
                    <!--/row-->
                </div>
            <!--/col-->
            </div>
        <!--/row-->
        </div>
	</div>
</body>
    <th:block layout:fragment="scripts">
    </th:block>
</html>