<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
        layout:decorate="~{layouts/default}">
    <head>
        <title>Book Share</title>
    </head>
    <body>
        <th:block layout:fragment="header" th:include="layouts/header :: headerFragment">
        </th:block>
        <div layout:fragment="content" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <h1>Page Not Found <small>
                            <font face="Tahoma" color="red">Error 404</font></small></h1>
                        <div class="error-details">
                            Xin lỗi, trang mà bạn yêu cầu không tồn tại. 
                            Vui lòng thử lại sau.
                        </div>
                        <div class="error-actions">
                            <a th:href="@{/}" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-home"></span>
                                Trở lại trang chủ </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <th:block layout:fragment="scripts">
    </th:block>
</html>
